/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    padding: 1rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fffd4;
    flex-grow: 1;
}

footer{
    padding: 1rem;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#difficulty{
    background-color: lightgray;
    width: 150px;
    cursor: pointer;
}

#set{
    width: 100px;
    cursor: pointer;
}

.board{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin: auto;
}

.board_number{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

.clicked{
    background-color: greenyellow;
}